body{
    background-color: lightblue;
}

header{
    margin-top: 50px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    border-bottom-left-radius:  30px;
    border-bottom-right-radius:  30px;
}

#result{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 100px;
    gap: 30px;
    width: 900px;
}

.card{
    background-color: rgb(200, 227, 255);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 60px);
    height: 330px;
    border-radius: 30px;
    padding-top: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    width: min-content;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

